<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-androidsaml" 
        version="0.0.1">

    <name>AndroidSaml</name>
    <description>An Android Cordova plugin with hooks into the web view to manipulate http requests and redirects</description>
    <license>MIT</license>
    <keywords>cordova,android,saml,http,redirect</keywords>
    <repo>https://https://github.com/adamcweitzman/AndroidSaml.git</repo>
    <issue>https://github.com/adamcweitzman/AndroidSaml/issues</issue>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="AndroidSaml">
                <param name="android-package" value="com.adamweitzman.cordova.plugin.AndroidSaml"/>
            </feature>
        </config-file>

        <source-file src="src/android/AndroidSaml.java" target-dir="src/com/adamweitzman/cordova/plugin" />   
    </platform>
</plugin>